# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.env.*

# Virtual environments
env/
venv/
ENV/
.venv/

# macOS
.DS_Store

# VSCode / PyCharm
.vscode/
.idea/

# Logs
*.log

# OS / backup
*.bak
*.swp
*~

# Uploads (if you add any later)
uploads/
